@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<EventHubResource> L
@model EventHub.Web.Pages.Events.Components.RegistrationArea.RegistrationAreaViewComponent.RegistrationAreaViewComponentModel
<abp-card class="mb-3" data-event-id="@Model.EventId">
    <abp-card-body>
        @if (Model.IsLoggedIn)
        {
            if (Model.IsRegistered)
            {
                <abp-button id="EventCancelRegistrationButton"
                            button-type="Secondary"
                            size="Block"
                            icon="fas fa-times"
                            text="@L["CancelRegistration"].Value"
                            data-url="@Url.Action("Unregister","EventRegistration", new { eventId = Model.EventId })" />
            }
            else
            {
                <abp-button id="EventRegisterButton"
                            button-type="Primary"
                            size="Block"
                            icon="fas fa-plus"
                            text="@L["RegisterNow"].Value"
                            data-url="@Url.Action("Register","EventRegistration", new { eventId = Model.EventId })"/>
            }
        }
        else
        {
            <a abp-button="Primary"
               href="@Url.Action("Login", "Account", new { returnUrl = Context.Request.Path.Value })"> @L["LoginToRegister"]</a>
        }
    </abp-card-body>
</abp-card>
