@model List<EventHub.Organizations.OrganizationInListDto>

@foreach (var organization in Model)
{
    <div class="col-lg-4 col-md-6 organization">
        <div class="card">
            @if (organization.ProfilePictureContent == null)
            { 
                <div class="event-thumbnail" style="        background-image: url(/assets/eh-organization.png);" alt="@organization.Name">
                </div>
            }
            else
            { 
                <div class="event-thumbnail" style="background-image: url(@($"data:image/png;base64,{Convert.ToBase64String(organization.ProfilePictureContent)}"));" alt="@organization.Name">
                </div>
            }
            <div class="card-body">
                <div class="event-container">
                    <div class="event-info">
                        <h5>@organization.DisplayName</h5>
                        <p>
                            @organization.Description
                        </p>
                    </div>
                    <a href="@Url.Page("/Organizations/Profile", new {name = organization.Name})" class="btn btn-link p-0">Details <img src="/assets/more-btn.svg"></a>
                </div>
            </div>
        </div>
    </div>
}