@page "/organizations"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Organizations.IndexPageModel

<abp-row>
    @foreach (var organization in Model.Organizations)
    {
        <abp-column size-lg="_4" size-md="_6">
            <abp-card class="mb-3">
                <img abp-card-image="Top" src="https://picsum.photos/seed/@organization.Name/400/160?blur=8" alt="@organization.DisplayName"/>
                <abp-card-body>
                    <abp-card-title>@organization.DisplayName</abp-card-title>
                    <abp-card-text>
                        @organization.Description.TruncateWithPostfix(100)
                    </abp-card-text>
                    <a abp-button="Primary" href="@Url.Page("/Organizations/Profile", new {name = organization.Name})"> @L["SeeOrganization"]</a>
                </abp-card-body>
            </abp-card>
        </abp-column>
    }
</abp-row>
