@page "/organizations/{name}"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using EventHub.Web.Pages.Events
@using EventHub.Web.Pages.Organizations.Components.JoinArea
@using EventHub.Web.Pages.Organizations.Components.MembersArea
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Organizations.ProfilePageModel

<abp-row>
    <abp-column size-lg="_8" size-md="_6">
        <abp-row>
            <abp-column size-lg="_12">
                <abp-card class="mb-3">
                    <img abp-card-image="Top" src="https://picsum.photos/seed/@Model.Name/1920/400?blur=8" alt="@Model.Organization.DisplayName"/>
                    <abp-card-body>
                        <abp-card-title>
                            @if (Model.IsOrganizationOwner)
                            {
                                <div class="row">
                                    <div class="col-9">
                                        <h2>@Model.Organization.DisplayName</h2>
                                    </div>
                                    <div class="col-3 text-right">
                                        <a href="/organization/edit/@Model.Organization.Name" class="btn btn-primary text-white">@L["Edit"] <i class="far fa-edit"></i></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <h2>@Model.Organization.DisplayName</h2>
                            }
                        </abp-card-title>
                        <abp-card-text class="mt-3">
                            @Model.Organization.Description

                            @if (!Model.Organization.Website.IsNullOrEmpty() || !Model.Organization.TwitterUsername.IsNullOrEmpty() ||
                                 !Model.Organization.GitHubUsername.IsNullOrEmpty() || !Model.Organization.InstagramUsername.IsNullOrEmpty() ||
                                 !Model.Organization.GitHubUsername.IsNullOrEmpty() || !Model.Organization.MediumUsername.IsNullOrEmpty())
                            {
                                <hr/>
                                @if (Model.Organization.Website != null)
                                {
                                    <div class="mt-4 text-center">
                                        <small class="text-muted text-uppercase">@L["PersonalWebsite"]</small>
                                        <h5 class="m-0">
                                            @if (Model.Organization.Website != null)
                                            {
                                                <a href="@Model.Organization.Website" class="text-personel-web-site text-decoration-none" target="_blank" style="font-size: 1rem">
                                                    @Model.Organization.Website
                                                </a>
                                            }
                                        </h5>
                                    </div>
                                }
                                @if (Model.Organization.TwitterUsername != null || Model.Organization.GitHubUsername != null || 
                                     Model.Organization.InstagramUsername != null || Model.Organization.GitHubUsername != null || 
                                     Model.Organization.MediumUsername != null)
                                {
                                    <div class="profile-icons mt-4 text-center">
                                        <small class="text-muted text-uppercase">@L["SocialMedia"]</small><br/>
                                        @if (Model.Organization.TwitterUsername != null)
                                        {
                                            <a href="https://twitter.com/@Model.Organization.TwitterUsername" class="text-twitter text-decoration-none" target="_blank" style="font-size: 1.5rem">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        }
                                        @if (Model.Organization.GitHubUsername != null)
                                        {
                                            <a href="https://github.com/@Model.Organization.GitHubUsername" class="text-github text-decoration-none" target="_blank" style="font-size: 1.5rem">
                                                <i class="fab fa-github"></i>
                                            </a>
                                        }
                                        @if (Model.Organization.InstagramUsername != null)
                                        {
                                            <a href="https://www.instagram.com/@Model.Organization.InstagramUsername" class="text-instagram text-decoration-none" target="_blank" style="font-size: 1.5rem">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        }
                                        @if (Model.Organization.FacebookUsername != null)
                                        {
                                            <a href="https://www.facebook.com/@Model.Organization.FacebookUsername" class="text-facebook text-decoration-none" target="_blank" style="font-size: 1.5rem">
                                                <i class="fab fa-facebook"></i>
                                            </a>
                                        }
                                        @if (Model.Organization.MediumUsername != null)
                                        {
                                            <a href="https://medium.com/@Html.Raw("@")@Model.Organization.MediumUsername" class="text-medium text-decoration-none" target="_blank" style="font-size: 1.5rem">
                                                <i class="fab fa-medium"></i>
                                            </a>
                                        }
                                    </div>
                                }
                            }
                        </abp-card-text>
                    </abp-card-body>
                </abp-card>
            </abp-column>
        </abp-row>
        
        @if (Model.UpcomingEvents.Any())
        {
            <h3>Events</h3>
        
            <abp-tabs tab-style="Pill">
                <abp-tab title="@($"{L["Upcoming"].Value} ({Model.UpcomingEventTotalCount})")">
                    <abp-row class="mt-3">
                        @foreach (var eventItem in Model.UpcomingEvents)
                        {
                            <abp-column size-lg="_4" size-md="_6">
                                <abp-card class="mb-3">
                                    <img abp-card-image="Top" src="https://picsum.photos/seed/@eventItem.Id.ToString()/400/160?blur=8" alt="@eventItem.Title"/>
                                    <abp-card-body>
                                        <abp-card-title>@eventItem.Title</abp-card-title>
                                        <abp-card-subtitle>
                                            @EventDateHelper.GetDateRangeText(eventItem.StartTime, eventItem.EndTime)
                                        </abp-card-subtitle>
                                        <abp-card-text>
                                            @eventItem.Description.TruncateWithPostfix(100)
                                        </abp-card-text>
                                        <a abp-button="Primary" href="@Url.Page("/Events/Detail", new {url = eventItem.Url})"> @L["SeeEvent"]</a>
                                    </abp-card-body>
                                </abp-card>
                            </abp-column>
                        }
                    </abp-row>
                </abp-tab>
                <abp-tab title="@($"{L["Past"].Value} ({Model.PastEventTotalCount})")">
                    <abp-row class="mt-3">
                        @foreach (var eventItem in Model.PastEvents)
                        {
                            <abp-column size-lg="_4" size-md="_6">
                                <abp-card class="mb-3">
                                    <img abp-card-image="Top" src="https://picsum.photos/seed/@eventItem.Id.ToString()/400/160?blur=8" alt="@eventItem.Title"/>
                                    <abp-card-body>
                                        <abp-card-title>@eventItem.Title</abp-card-title>
                                        <abp-card-subtitle>
                                            @EventDateHelper.GetDateRangeText(eventItem.StartTime, eventItem.EndTime)
                                        </abp-card-subtitle>
                                        <abp-card-text>
                                            @eventItem.Description.TruncateWithPostfix(100)
                                        </abp-card-text>
                                        <a abp-button="Primary" href="@Url.Page("/Events/Detail", new {url = eventItem.Url})"> @L["SeeEvent"]</a>
                                    </abp-card-body>
                                </abp-card>
                            </abp-column>
                        }
                    </abp-row>
                </abp-tab>
            </abp-tabs>
        }
        else
        {
            <abp-alert alert-type="Info">
                @L["NoEventOrganizedByThisOrganizationYet"]
            </abp-alert>
        }
    </abp-column>
    <abp-column size-lg="_4" size-md="_6">
        @await Component.InvokeAsync(typeof(JoinAreaViewComponent), new {organizationId = Model.Organization.Id})
        @await Component.InvokeAsync(typeof(MembersAreaViewComponent), new {organizationId = Model.Organization.Id})
    </abp-column>
</abp-row>
