@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Alert
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Blockquote
@model Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Views.Error.AbpErrorViewModel
@inject IHtmlLocalizer<AbpUiResource> L

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-11 mx-auto">
            <div class="d-flex flex-column justify-content-center min-vh-100 align-items-center">
                <div class="card">
                    <div class="card-body p-lg-5">
                        <div class="row">
                            <div class="col-auto d-flex align-items-center">
                                <i class="bi bi-emoji-frown text-primary mb-3 mb-md-0 mx-3 mx-md-4" style="font-size: 12em;"></i>
                            </div>
                            <div class="col ps-2 ps-lg-4">
                                <div class="status-content">
                                    <h1 class="fw-bolder display-1 text-brand">@Model.HttpStatusCode</h1>
                                    <h5 class="text-muted">@Model.ErrorInfo.Message</h5>
                                    <p class="mt-3 mb-4">@Model.ErrorInfo.Details</p>

                                    <a href="javascript:history.back()" class="btn btn-primary soft me-2">@L["GoBack"]</a>
                                    <a href="/" class="btn btn-primary">@L["GoHomePage"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>