@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Organizations.Components.JoinArea.JoinAreaViewComponent.MembershipAreaViewComponentModel
<abp-card class="detail-head mt-4 font-weight-bold" data-organization-id="@Model.OrganizationId">
    <abp-card-body>
        @if (Model.IsLoggedIn)
        {
            <div class="d-grid gap-2">
                @if (Model.IsJoined)
                {
                    <abp-button id="OrganizationLeaveButton"
                                button-type="Secondary"
                                icon="fas fa-times"
                                text="@L["LeaveOrganization"].Value"
                                data-url="@Url.Action("Leave","OrganizationMembership", new { organizationId = Model.OrganizationId })" />
                }
                else
                {
                    <abp-button id="OrganizationJoinButton"
                                button-type="Primary"
                                icon="fas fa-plus"
                                text="@L["JoinOrganization"].Value"
                                data-url="@Url.Action("Join","OrganizationMembership", new { organizationId = Model.OrganizationId })"/>
                }
            </div>
        }
        else
        {
            <a abp-button="Primary"
               href="@Url.Action("Login", "Account", new { returnUrl = Context.Request.Path.Value })"> @L["LoginToRegister"]</a>
        }
    </abp-card-body>
</abp-card>