@page "/events/{url}"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using EventHub.Web.Pages.Events
@using EventHub.Web.Pages.Events.Components.AttendeesArea
@using EventHub.Web.Pages.Events.Components.EventsArea
@using EventHub.Web.Pages.Events.Components.LocationArea
@using EventHub.Web.Pages.Events.Components.RegistrationArea
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Timing
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject IClock Clock
@model EventHub.Web.Pages.Events.DetailPageModel
<div class="bg-white py-5">
    <div class="container detail-page pb-4">
        <div class="row">
            <div class="col-md-7">
                <div class="detail-image">
                    @if (Model.Event.CoverImageContent == null)
                    {
                        <img src="/assets/detail.png" alt="@Model.Event.Title">
                    }
                    else
                    {
                        <img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Event.CoverImageContent)}")" alt="@Model.Event.Title">
                    }
                </div>
            </div>

            <div class="col-md-5 pl-md-5">
                @if (Model.IsEventOwner)
                {
                    <h1 class="mt-4 mt-md-0">
                        @Model.Event.Title
                        <a href="/event/edit/@Model.Event.Url" class="btn btn-primary btn-xs text-white">
                            <i class="far fa-edit"></i>
                        </a>
                    </h1>
                }
                else
                {
                    <h1 class="mt-4 mt-md-0">@Model.Event.Title</h1>
                }
                @await Component.InvokeAsync(typeof(LocationAreaViewComponent), new {eventId = Model.Event.Id})

                <h5 class="detail-head mt-4">Owner</h5>
                <div>
                    <img gravatar-email="@Model.Event.OwnerEmail" default-image="Wavatar" gravatar-size="60" class="org-avatar avatar rounded-circle"/>
                </div>
                @await Component.InvokeAsync(typeof(RegistrationAreaViewComponent), new {eventId = Model.Event.Id})
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h5 class="detail-head mt-5 font-weight-bold">Event Description</h5>
                <p>
                    @Model.Event.Description
                </p>

                <h5 class="detail-head mt-5 font-weight-bold">Date</h5>
                <p>
                    @EventDateHelper.GetDateRangeText(Model.Event.StartTime, Model.Event.EndTime)
                </p>

                @await Component.InvokeAsync(typeof(AttendeesAreaViewComponent), new {eventId = Model.Event.Id})

            </div>

            <div class="col-md-5 pl-md-5">
                <h5 class="detail-head mt-5 font-weight-bold">Share Event</h5>
                <div class="share-container">
                    <a href="#">
                        <img src="/assets/twitter2.svg">
                    </a>
                    <a href="#">
                        <img src="/assets/in2.svg">
                    </a>
                    <a href="#">
                        <img src="/assets/facebook2.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container pt-5">
    <div class="row py-4">
        <div class="col-md">
            <h2>Events You Will Enjoy</h2>
        </div>
    </div>

    @await Component.InvokeAsync(typeof(EventsAreaViewComponent), new
    {
        minDate = Clock.Now.ClearTime(),
        MaxResultCount = 6,
        isPagination = false
    })
</div>