@page "/event/edit/{url}"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EventHub.Web.Pages.Events.EditPageModel

@section scripts {
    <abp-script src="/Pages/Events/Edit.js"/>
}

<input type="hidden" value="@Model.Url" id="event-detail-url"/>
<div class="container mb-4">
    <h1>Edit Event</h1>

    <ul class="nav nav-pills mt-3 mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="event-info-tab" data-toggle="pill" href="#event-info" role="tab" aria-controls="event-info" aria-selected="true">Event Information</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="event-timing-tab" data-toggle="pill" href="#event-timing" role="tab" aria-controls="event-timing" aria-selected="false">Event Timing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="event-cover-image-tab" data-toggle="pill" href="#event-cover-image" role="tab" aria-controls="event-cover-image" aria-selected="false">Event Cover Image</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="event-info" role="tabpanel" aria-labelledby="event-info-tab">
            <form method="post">
                <abp-input asp-for="Event.Id" />
                <abp-input asp-for="Event.Title"/>
                <abp-input asp-for="Event.Description"/>
                <abp-input asp-for="Event.IsOnline"/>

                <div id="event-link-group" style="display: none">
                    <abp-input asp-for="Event.OnlineLink"/>
                </div>

                <div id="event-location-group">
                    <abp-select asp-for="Event.CountryId"/>
                    <abp-input asp-for="Event.City"/>
                </div>

                <abp-select asp-for="Event.Language"/>
                <abp-input asp-for="Event.Capacity"/>

                <abp-button size="Large" button-type="Primary" type="submit" text="@L["Submit"].Value"/>
            </form>
        </div>
        <div class="tab-pane fade" id="event-timing" role="tabpanel" aria-labelledby="event-timing-tab">
            <div class="alert alert-info" role="alert">
                Note: You can not change the event timing more than two times.
            </div>
            <div class="alert alert-warning mt-3" role="alert">
                Note: If you change the event times, an informational email will be sent to all attendees
            </div>
            <form method="post" id="Event_Timing_Form">
                <abp-input asp-for="EventTiming.Id"/>
                <abp-input asp-for="EventTiming.StartTime"/>
                <abp-input asp-for="EventTiming.EndTime"/>

                <abp-button size="Large" button-type="Primary" type="submit" text="@L["Submit"].Value"/>
            </form>
        </div>
        <div class="tab-pane fade" id="event-cover-image" role="tabpanel" aria-labelledby="event-cover-image-tab">
            <form method="post" id="cover-image-form">
                <input type="hidden" id="event-id" value="@Model.Event.Id"/>
                <abp-row>
                    <abp-column size="_12" v-align="Center">
                        <div class="form-group">
                            <label>@L["CoverImage"]</label>
                            <div class="custom-file">
                                <input id="event-cover-image-input" type="file" class="custom-file-input form-control">
                                <label id="choose-cover-image" class="custom-file-label" for="customFile">@L["ChooseEventCoverImage"]</label>
                                <small id="event-cover-image-info-text" class="form-text text-muted mt-2">@L["ChooseEventCoverImageInfo"]</small>
                            </div>
                        </div>
                    </abp-column>
                </abp-row>
                
                <abp-button class="btn-block" id="event-cover-image-btnSubmit" button-type="Primary" type="submit" text="@L["Submit"].Value" />
            </form>
        </div>
        <abp-modal centered="true" scrollable="true" size="Small" id="cover-image-preview-modal">
            <abp-modal-header title="Cover Image Preview"></abp-modal-header>
            <abp-modal-body>
                <img class="img-fluid" id="img-upload" alt="event-cover-image-preview"/>
            </abp-modal-body>
            <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
        </abp-modal>
    </div>
</div>