@page "/events/new"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model EventHub.Web.Pages.Events.NewPageModel

@section scripts {
        <abp-script src="/Pages/Events/New.js"/>
}

<h1>@L["NewEvent"]</h1>
@if (!Model.Organizations.Any())
{
    <abp-alert alert-type="Danger">
        <p>@L["NewEventYouHaveNoOrganizationYetMessage"]</p>
        <a abp-button="Primary" href="@Url.Page("/Organizations/New")">@L["CreateAnOrganization"]</a>
    </abp-alert>
}
else
{
    <form method="post" enctype="multipart/form-data">
        <abp-select asp-for="Event.OrganizationId" />
        <abp-input asp-for="Event.Title" />
        <abp-input asp-for="Event.StartTime" />
        <abp-input asp-for="Event.EndTime" />
        <abp-input asp-for="Event.Description" />
        <abp-input asp-for="Event.CoverImageFile" />
        <abp-input asp-for="Event.IsOnline" />
        <div id="event-link-group" style="display: none">
            <abp-input asp-for="Event.OnlineLink" />
        </div>
        <div id="event-location-group">
            <abp-select asp-for="Event.CountryId" />
            <abp-input asp-for="Event.City" />
        </div>
        <abp-select asp-for="Event.Language" />
        <abp-input asp-for="Event.Capacity" />
        <abp-button size="Large" button-type="Primary" type="submit" text="@L["Submit"].Value" />
    </form>
    
    <abp-modal centered="true" scrollable="true" size="Small" id="cover-image-preview-modal">
        <abp-modal-header title="Cover Image Preview"></abp-modal-header>
        <abp-modal-body>
            <img class="img-fluid" id="img-upload" alt="event-cover-image-preview"/>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
    </abp-modal>
}
