@page "/events/{url}"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using EventHub.Web.Pages.Events.Components.AttendeesArea
@using EventHub.Web.Pages.Events.Components.RegistrationArea
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Events.DetailPageModel
<abp-row>
    <abp-column size-lg="_8" size-md="_6">
        <abp-card class="mb-3">
            <img abp-card-image="Top" src="https://picsum.photos/seed/@Model.Event.Id.ToString()/400/160?blur=8" alt="@Model.Event.Title"/>
            <abp-card-body>
                <abp-card-title>@Model.Event.Title</abp-card-title>
                <abp-card-subtitle>
                    @Model.Event.StartTime.ToLongDateString(),
                    @Model.Event.StartTime.ToString("hh:mm") <br/>
                    <span class="text-muted">@L["OrganizedBy"]</span> <a href="@Url.Page("/Organizations/Profile", new {name = Model.Event.OrganizationName})">@Model.Event.OrganizationDisplayName</a>
                </abp-card-subtitle>
                <abp-card-text class="mt-3">
                    @Model.Event.Description
                </abp-card-text>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-lg="_4" size-md="_6">
        @await Component.InvokeAsync(typeof(RegistrationAreaViewComponent), new {eventId = Model.Event.Id})
        @await Component.InvokeAsync(typeof(AttendeesAreaViewComponent), new {eventId = Model.Event.Id})
    </abp-column>
</abp-row>
