@page "/events/{url}"
@inject IHtmlLocalizer<EventHubResource> L
@using EventHub.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@model EventHub.Web.Pages.Events.Detail
<abp-row>
    <abp-column size-lg="_8" size-md="_6">
        <abp-card class="mb-3">
            <img abp-card-image="Top" src="https://picsum.photos/seed/@Model.Event.Id.ToString()/400/160?blur=8" alt="@Model.Event.Title"/>
            <abp-card-body>
                <abp-card-title>@Model.Event.Title</abp-card-title>
                <abp-card-subtitle>@Model.Event.StartTime.ToLongDateString(), @Model.Event.StartTime.ToString("hh:mm")</abp-card-subtitle>
                <abp-card-text>
                    @Model.Event.Description
                </abp-card-text>
            </abp-card-body>
        </abp-card>
    </abp-column>
    <abp-column size-lg="_4" size-md="_6">
        <abp-card class="mb-3">
            <abp-card-body>
                <a abp-button="Primary" href="#"> @L["RegisterNow"]</a>
            </abp-card-body>
        </abp-card>
        <abp-card class="mb-3">
            <abp-card-body>
                <abp-card-title>Attendees</abp-card-title>
                <abp-card-text>
                    TODO
                </abp-card-text>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row>
