@page
@model EventHub.Web.Pages.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using EventHub.Localization
@inject IHtmlLocalizer<EventHubResource> L

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css"/>
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js"/>
    </abp-script-bundle>
}

<h2>Upcoming Events</h2>

<abp-row>
    @foreach (var eventItem in Model.Events)
    {
        <abp-column size-lg="_4" size-md="_6">
            <abp-card>
                <img abp-card-image="Top" src="https://picsum.photos/seed/@eventItem.Id.ToString()/400/160?blur=8" alt="@eventItem.Title"/>
                <abp-card-body>
                    <abp-card-title>@eventItem.Title</abp-card-title>
                    <abp-card-subtitle>@eventItem.StartTime.ToLongDateString(), @eventItem.StartTime.ToString("hh:mm")</abp-card-subtitle>
                    <abp-card-text>
                        @eventItem.Description.TruncateWithPostfix(100)
                    </abp-card-text>
                    <a abp-button="Primary" href="#"> @L["SeeEvent"]</a>
                </abp-card-body>
            </abp-card>
        </abp-column>
    }
</abp-row>
