@page
@model EventHub.Web.Pages.IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@using EventHub.Localization
@using EventHub.Web.Pages.Events
@inject IHtmlLocalizer<EventHubResource> L

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/Index.css"/>
    </abp-style-bundle>
}

@section scripts {
    <abp-script-bundle>
        <abp-script src="/Pages/Index.js"/>
    </abp-script-bundle>
}


<div class="container-fluid p-0">
    <div class="main-slider">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="slider-container d-flex align-items-center text-center text-light" style="background-image: url('/assets/slide.jpg')">
                    <div class="mx-auto">
                        <h1>Let's Share Together</h1>
                        <p>Try something new, or do more of what you love.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-container d-flex align-items-center text-center text-light" style="background-image: url('/assets/slide.jpg')">
                    <div class="mx-auto">
                        <h1>Let's Share Together</h1>
                        <p class="lead">Try something new, or do more of what you love.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-event container">
    <div class="card bg-primary mb-0">
        <div class="card-body">
            <div class="form-row search-form">
                <div class="col-md mb-3 mb-md-0">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Looking for</option>
                        <option value="1">Lorem</option>
                        <option value="2">Ipsum</option>
                        <option value="3">Dolor</option>
                    </select>
                </div>
                <div class="col-md mb-3 mb-md-0">
                    <div class="form-label-group">
                        <input type="location" id="inputLocation" class="form-control" placeholder="Location" required>
                        <label for="inputLocation">Location</label>
                    </div>
                </div>
                <div class="col-md mb-3 mb-md-0">
                    <div class="form-label-group">
                        <input type="when" id="inputWhen" class="form-control" placeholder="When" required>
                        <label for="inputWhen">When</label>
                    </div>
                </div>
                <div class="col-md-auto">
                    <button class="btn btn-primary btn-lg btn-block ">
                        <img src="/assets/search.svg">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row mb-4">
    <div class="col-md">
        <h2>Upcoming Events</h2>
    </div>
    <div class="col-md-auto">
        <div class="row filter-select">
            <div class="col-4 pr-0">
                <select class="form-select" aria-label="Default select example">
                    <option selected>When</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-4 pr-0">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Event Type</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-4">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Category</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Lorem Connected</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Chainlink Connected Smart Contracts Lorem Ipsum</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on th content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Chainlink Connected Smart Contracts</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on the card title and make up the bud title and make up e card's content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Lorem Connected</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Chainlink Connected Smart Contracts Lorem Ipsum</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on th content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Chainlink Connected Smart Contracts</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on the card title and make up the bud title and make up e card's content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Lorem Connected</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Chainlink Connected Smart Contracts Lorem Ipsum</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on th content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6">
    <div class="card">
        <img src="/assets/card-img.png" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="event-container">
                <div class="form-row">
                    <div class="col-2">
                        <div class="event-date text-center">
                            <small>Mar</small>
                            <span>9</span>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="event-info">
                            <h5>Chainlink Connected Smart Contracts</h5>
                            <small>7 pm - 9 pm | Ankara , Çankaya</small>
                            <p>Some quick example text to build on the card title and make up the bud title and make up e card's content.</p>
                        </div>
                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col text-center">
        <button class="btn btn-secondary btn-lg ">
            Load More
        </button>
    </div>
</div>
</div>


<div class="container-fluid bg-white my-5 py-5">
    <div class="container py-3">
        <div class="card-slider">

            <h2 class="mb-4">Online Events</h2>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/card-left-image.png" class="card-img-left">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="event-container online-event">
                                        <div class="event-info">
                                            <h5>Bitcoin</h5>
                                            <small>May 6, 2021 Monday | 7 pm - 9 pm | Online</small>
                                            <p>Some quick example text to build on the card title and make up the bud titlcard title and make up the bud titlcard title and make up the bud title and make up e card's content.</p>
                                        </div>
                                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/card-left-image.png" class="card-img-left">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="event-container online-event">
                                        <div class="event-info">
                                            <h5>Bitcoin</h5>
                                            <small>May 6, 2021 Monday | 7 pm - 9 pm | Online</small>
                                            <p>Some quick example text to build on the card title and make up the bud titlcard title and make up the bud titlcard title and make up the bud title and make up e card's content.</p>
                                        </div>
                                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/card-left-image.png" class="card-img-left">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="event-container online-event">
                                        <div class="event-info">
                                            <h5>Bitcoin</h5>
                                            <small>May 6, 2021 Monday | 7 pm - 9 pm | Online</small>
                                            <p>Some quick example text to build on the card title and make up the bud titlcard title and make up the bud titlcard title and make up the bud title and make up e card's content.</p>
                                        </div>
                                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/card-left-image.png" class="card-img-left">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="event-container online-event">
                                        <div class="event-info">
                                            <h5>Bitcoin</h5>
                                            <small>May 6, 2021 Monday | 7 pm - 9 pm | Online</small>
                                            <p>Some quick example text to build on the card title and make up the bud titlcard title and make up the bud titlcard title and make up the bud title and make up e card's content.</p>
                                        </div>
                                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/card-left-image.png" class="card-img-left">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="event-container online-event">
                                        <div class="event-info">
                                            <h5>Bitcoin</h5>
                                            <small>May 6, 2021 Monday | 7 pm - 9 pm | Online</small>
                                            <p>Some quick example text to build on the card title and make up the bud titlcard title and make up the bud titlcard title and make up the bud title and make up e card's content.</p>
                                        </div>
                                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-5">
                                <img src="/assets/card-left-image.png" class="card-img-left">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body">
                                    <div class="event-container online-event">
                                        <div class="event-info">
                                            <h5>Bitcoin</h5>
                                            <small>May 7, 2021 Monday | 7 pm - 9 pm | Online</small>
                                            <p>Some quick example text to build on the card title and make up the bud titlcard title and make up the bud titlcard title and make up the bud title and make up e card's content.</p>
                                        </div>
                                        <a href="#" class="btn btn-link p-0">Learn More <img src="/assets/more-btn.svg"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center py-1">
    <h1 class="my-5 pb-5">How EventHub Works?</h1>
    <div class="row my-4">
        <div class="col-md-5 ml-auto">
            <div class="px-5">
                <h3>Explore groups</h3>
                <p class="lead">
                    List who is organizing local events
                    with one click.
                </p>
                <a href="#" class="btn btn-link btn-lg">Join EventHub</a>
            </div>
        </div>
        <div class="col-md-5 mr-auto border-left">
            <div class="px-5">
                <h3>Start an Event</h3>
                <p class="lead">Create your own Eventhub group and benefit from a community of millions.</p>
                <a href="#" class="btn btn-link btn-lg">Start</a>
            </div>
        </div>
    </div>
</div>


@*
<h2>Upcoming Events</h2>

<abp-row>
    @foreach (var eventItem in Model.Events)
    {
        <abp-column size-lg="_4" size-md="_6">
            <abp-card class="mb-3">
                @if (eventItem.CoverImageContent is null)
                {
                    <img abp-card-image="Top" src="https://picsum.photos/seed/@eventItem.Id.ToString()/400/160?blur=8" alt="@eventItem.Title"/>
                }
                else
                {
                    <img abp-card-image="Top" style="max-height: 400px; min-height: 160px;" src="@($"data:image/png;base64,{Convert.ToBase64String(eventItem.CoverImageContent)}")" alt="@eventItem.Title"/>
                }
                <abp-card-body>
                    <abp-card-title>@eventItem.Title</abp-card-title>
                    <abp-card-subtitle>
                        @EventDateHelper.GetDateRangeText(eventItem.StartTime, eventItem.EndTime) <br/>
                        <span class="text-muted">@L["OrganizedBy"]</span> <a href="@Url.Page("/Organizations/Profile", new {name = eventItem.OrganizationName})">@eventItem.OrganizationDisplayName</a>
                    </abp-card-subtitle>
                    <abp-card-text class="mt-2">
                        @eventItem.Description.TruncateWithPostfix(100)
                    </abp-card-text>
                    <a abp-button="Primary" href="@Url.Page("/Events/Detail", new { url = eventItem.Url })"> @L["SeeEvent"]</a>
                </abp-card-body>
            </abp-card>
        </abp-column>
    }
</abp-row>
*@